extends ../layout

block content
  .container
    .row
      each item in movies
        .col-md-2
          .thumbnail
            a=(href="/movie/#{item._id")
              img(scr="#{item.poster}", alt="#{item.title}")
            .caption
              h2 #{title}
              p:a.btn.btn-primary(href="/m,ovie/#{item._id}", role="button")
                观看预告片

